    <!-- Kleuren -->
    <section id="kleuren" class="content-section text-center">
        <div>
            <div class="container">
                <div class="col-md-12">
                    <h2 style="margin-bottom:70px">KLEUREN</h2>
                    <img src="../img/logo_kleuren.png" style="width:50%">
                </div>

                <div class="col-md-12" style="margin-top:30px">
                    <img src="../img/kleuren_tinten.png" style="width:50%">
                    <h4 style="color:#e8424f; margin-top:40px">opmerking</h4>
                    <p>De tinten van Vistablauw worden enkel gebruikt als secundaire kleuren,
                        <br>ze mogen nooit als kleur voor het logo worden gebruikt.</p>

                    <img src="../img/kleuren_tinten_do.png" style="width:50%; margin-bottom:10px">
                    <img src="../img/kleuren_tinten_do2.png" style="width:50%; margin-bottom:10px">
                    <img src="../img/kleuren_tinten_dont.png" style="width:50%; margin-bottom:10px">
                    <img src="../img/kleuren_tinten_dont2.png" style="width:50%">
                </div>
            </div>
        </div>
        
    </section>