    <!-- Logo Section -->
    <section id="logo" class="content-section">
    
    <!-- Betekenis achter het logo -->

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                    <h2 class="text-center">BETEKENIS ACHTER HET LOGO</h2>
                </div>
        </div>
        <div class="row">
                <div class="col-md-12">
                        <div style="margin:40px 0 50px 0" class="text-center">
                            <img src="{{ '/img/logo_betekenis.png' | relative_url }}">
                        </div>
                    </div>
        </div>
        <div class="row">
            <div style="margin:40px 0 40px 0" class="col-md-6 col-small">
                <p>Het logo vertegenwoordigt 2 universele en heel herkenbare medische symbolen: het kruis en de stethoscoop. 
                    Het beeld is sterk, eenvoudig en geeft geen ruimte voor twijfel.Wanneer je het beeld van dichterbij bestudeert, 
                    kan je zien dat het kruis opgebouwd is uit 2 harten in elkaar gehaakt. Aangezien het wijkgezondheidscentrum meer 
                    is dan slechts een dokterspraktijk, kon deze nuance niet ontbreken in het logo. Het wijkgezondheidscentrum heeft 
                    als tweede aspect namelijk dat het naast het behandelen van</p>
            </div>
            <div style="margin:40px 0 60px 0" class="col-md-6 col-small">
                <p> patiënten ook activiteiten en workshops organiseert 
                    en aan gezondheidspromotie doet om ook een steentje te kunnen bijdragen aan het algemene welzijn. Het woord wijkgezondheidscentrum is een 
                    vast component dat bij alle wijkgezondheidscentra moet aanwezig zijn in het logo. Daaronder vind je de naam 
                    van het centrum in kwestie. Het logo wordt verondersteld zoveel mogelijk in zijn volledigheid te gebruiken, 
                    dat wil zeggen: beeld en woord. Echter kan het beeld ook afzonderlijk gebruikt worden om esthetische redenen of wanneer er te weinig plaats beschikbaar is.</p>
            </div>
        </div>
    </div>

    <!-- Kleuren -->

    <div style="margin-bottom: 70px" class="container">
            <div class="row">
                <div class="col-md-12">
                        <h2 class="text-center">KLEUREN</h2>
                </div>
            </div>
            <div class="row">
                    <div class="col-md-12">
                            <div style="margin:40px 0 50px 0" class="text-center">
                                <img src="{{ '/img/logo_kleuren.png' | relative_url }}" style="width:50%">
                            </div>
                    </div>
                    <div class="col-md-12">
                            <div style="margin:20px 0 30px 0" class="text-center">
                                <img src="{{ '/img/logo_red.png' | relative_url }}">
                            </div>
                    </div>
                    <div class="col-md-12">
                            <div style="margin:20px 0 30px 0" class="text-center">
                                <img src="{{ '/img/logo_green.png' | relative_url }}">
                            </div>
                    </div>
                    <div class="col-md-12">
                            <div style="margin:20px 0 30px 0" class="text-center">
                                <img src="{{ '/img/logo_black.png' | relative_url }}">
                            </div>
                    </div>
                    <div class="col-md-12">
                            <div style="margin:20px 0 30px 0" class="text-center">
                                <img src="{{ '/img/Logo_white.png' | relative_url }}">
                            </div>
                    </div>
            </div>
    </div>

    <!-- Font --> 

    <div class="container">
            <div class="row">
                    <div class="col-md-12">
                            <h2 class="text-center">FONT</h2>
                    </div>
            </div>
            <div class="row">
                    <div class="col-md-12">
                            <h5 class="text-center">QUICKSAND - designed by andrew paglinawan</h5>
                            <div class="text-center">
                                    <img src="{{ 'img/font_quicksand.png' | relative_url }}" style="width:50%">
                            </div>
                    </div>
            </div>
            
    </div>

    <!-- Bounding box -->

    <div class="container">
            <div class="row">
                    <div style="margin-top:100px" class="col-md-12">
                            <h2 class="text-center">BOUNDING BOX</h2>
                    </div>
            </div>
            <div class="row">
                    <div class="col-md-12">
                            <p class="text-center">De witruimte dat het logo rond zich moet krijgen is <br>minimaal de grootte van de R van RABOT.</p>
                            <div class="text-center">
                                    <img src="{{ '/img/logo_boundingbox.png' | relative_url }}" style="width:45%">
                            </div>
                    </div>
            </div>
            
    </div>

<!-- Minimumformaat -->

<div class="container">
    <div class="row">
            <div style="margin-top:100px" class="col-md-12">
                    <h2 class="text-center">MINIMUMFORMAAT</h2>
            </div>
    </div>
    <div class="row">
            <div class="col-md-12">
                    <p class="text-center">De minimumhoogte van het logo bedraagt 15mm. <br>
                        Nog meer verkleind zou “vzw” niet meer te lezen zijn en <br>
                        ook het oog van de stethoscoopcirkels zouden dichtvloeien.</p>
                    <div class="text-center">
                            <img src="{{ '/img/logo_min_size.png' | relative_url }}">
                    </div>
            </div>
    </div>
    
</div>


    <!-- Absolute no-go's -->

    <div class="container">
        <div class="row">
                <div style="margin-top:100px" class="col-md-12">
                        <h2 class="text-center">ABSOLUTE NO-GO'S</h2>
                </div>
        </div>
        <div class="row">
                <div class="col-md-12">
                        <p class="text-center">Hieropvolgend zie je een aantal voorbeelden van acties <br>
                            die niet kunnen worden toegepast op het logo. Dit geldt voor <br>
                            zowel het beeld als het bijschrift.</p>
                        <div class="text-center">
                                <img src="{{ '/img/logo_nogos.png' | relative_url }}" style="width:55%">
                        </div>
                </div>
        </div>
        
</div>

    <!-- Downloadables -->

        <div class="downloadables">
            <div class="container">
                    <div class="col-small-downloadables row-small">
                        <h2 class="text-center blue-text">DOWNLOADABLES</h2>
                        <div style="margin:20px 0 20px 0">
                            <div class="col-md-10">
                                <img src="{{ '/img/logo_downloadables.png' | relative_url }}">
                            </div>
                            <div style="padding-top:40px" class="col-md-2">
                                <p><span class="highlight">Download bevat:</span>
                                    <br>.ai, .jpg, .png, .pdf</p>
                                <a href="{{ '/downloadables/Logo.zip' | relative_url }}" class="btn btn-primary" >Download hier</a>
                            </div>
                        </div>

                        <div style="margin:265px 0 20px 0">
                            <div class="col-md-10">
                                <img src="{{ '/img/logobeeld_downloadables.png' | relative_url }}" style="width:55%">
                            </div>
                            <div style="padding-top:40px" class="col-md-2">
                                <p><span class="highlight">Download bevat:</span>
                                    <br>.ai, .jpg, .png, .pdf</p>
                                <a href="{{ '/downloadables/Beeldlogo.zip' | relative_url }}" class="btn btn-primary" >Download hier</a>
                            </div>
                        </div>
                    </div>

                
                
            </div>
        </div>

    </section>